body {
  margin: 0;
  padding: 0;
  font-family: 'Univers 55';
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.list-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-image {
  cursor: pointer;
  opacity: 0;
  border-radius: 10px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
  /* animation duration is randomized in the component atm */
	/* animation-duration: 0.35s; */
}

/* .zoom-in {
  animation-name: zoomIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.05s;
}

.zoom-out {
  animation-name: zoomOut;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.05s;
} */

.card-details-body {
  animation-name: zoomBackground;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 240s;
}


.expanding-background {
  background-repeat: no-repeat;
  background-position: left center;
  animation: expandBackground 2s ease-out forwards;
}

.badgeIconNumberStats .ant-statistic-content {
  margin: 8px 4px;
  min-width: 28px;
  line-height: 40px;
  text-align: center;
  border-radius: 12px;
  background-color: #eee;
}

.report-card-cost .ant-statistic-content {
  background-color: #0066b2;
  color: #fff;
}

.report-card-health .ant-statistic-content {
  background-color: #7c0001;
  color: #fff;
}

.report-card-attack .ant-statistic-content {
  background-color: #db5600;
  color: #fff;
}


@keyframes zoomBackground {
  0% {
    background-size: 100%;
    background-position: left center;
  }
  100% {
    background-size: 200%;
    background-position: right center;
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes expandBackground {
  0% {
    background-size: 0% 100%;
  }
  100% {
    background-size: 100% 100%;
  }
}

