body {
  margin: 0;
  padding: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.list-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95vw;
}

.card-image {
  opacity: 0;
  border-radius: 10px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
  /* animation duration is added in the component style atm */
	/* animation-duration: 0.35s; */
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
